#contact {
    width: 100%;
    margin: 0px auto;
    text-align: left;
    background: url(../../white.jpg);
    padding: 50px 20px;
    padding: 12vh 0;
  }
  
  .contact-title {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
  }
  
  .contact-subtitle {
    text-align: center;
    font-size: 1rem;
    margin: 50px auto;
    color: #666;
  }
  
  .contact-form {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 60%;
    margin: auto;
    display: flex;
    flex-direction: column;
  }

  .form-hide{
    height: 100px;
    width: 200px;
    border: 2px solid #5a0a42;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: sending 2s infinite;
  }

  @keyframes sending {
    0% {
      color: green;
      font-weight: normal;
    }
    50% {

      color: rgba(255, 6, 6, 0.911);
      font-weight: bolder;
    }
    100% {
      color: green;
      font-weight: normal;
    }
  }
  .form-hide h1{
    text-align: center;
  }
  
  .contact-form label {
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 10px;
  }
  
  .contact-form input,
  .contact-form textarea {
    width: 100%;
    background-color: #fdf5fb;
    color: #7E0258;
    font-size: 1.3rem;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }

  .contact-form input:focus, .contact-form textarea:focus {
    outline: none;
    border: 2px solid #5a0a42;
    color: rgba(5, 1, 1, 0.733);;
  }

  .contact-form input::placeholder, .contact-form textarea::placeholder{
    color: #7e0259a8;
    font-size: 0.9rem;
  }
  .submit-btn {
    background: #7E0258;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 15px;
  }
  
  .submit-btn:hover {
    background: #5a0a42;
  }
  

  @media only screen and (max-width: 768px) {
    .contact-form{
      width: 100%;
    }




  }