.footer {
    background-color: #000;
    color: #fff;
    padding: 40px 20px;
    text-align: center;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    max-width: 1100px;
    margin: auto;
    flex-wrap: wrap;
  }
  
  .footer-left {
    text-align: left;
    max-width: 500px;
  }
  
  .footer-left h2 {
    font-size: 1.5rem;
  }
  
  .footer-left p {
    font-size: 0.9rem;
    color: #ccc;
    margin-top: 10px;
  }
  
  .footer-right {
    text-align: left;
  }
  
  .footer-right h3 {
    font-size: 1.2rem;
  }
  
  .social-icons {
    display: flex;
    gap: 15px;
    margin-top: 10px;
  }
  
  .social-icons a {
    color: #fff;
    font-size: 1.5rem;
    transition: color 0.3s;
  }
  
  .social-icons a:hover {
    color: #7E0258;
  }
  
  .footer-bottom {
    margin-top: 20px;
    border-top: 1px solid #333;
    padding-top: 15px;
    font-size: 0.9rem;
  }
  
  @media only screen and (max-width: 768px) {
    .footer-content{
      flex-direction: column-reverse;
    }
    .footer-right{
      margin: 10px 0 25px 0;
    }



  }