.hero{
    height: 88vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url(../../white.jpg);
    background-size: contain;
    color: black;
}
.hero-content{
    width: 80%;
    text-align: center; 
}

.hero h1{
    font-size: 4rem;
}
.hero p{
    font-size: 1.5rem;
    margin: 20px auto;
}
.hero a{
    display: inline-block;
    width: 200px;
    height: 50px;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #7E0258;
    color: white;
    font-weight: bolder;
    font-size: 18px;
    transition: all 0.5s ease;
    line-height: 1.5;
}
.hero a:hover{
    transform: translateY(-10%);
    background-color: white;
    color: #7E0258;
    border: 1px solid #7E0258;
}

@media only screen and (max-width: 768px) {
    .hero{
        height: 100vh;
    }
    .hero h1{
        font-size: 2rem;
    }
    .hero-content{
        width: 100%;
    }
    .hero p{
        font-size: 18px;
    }


}